/*#######################################
        Menu bar configuration
#######################################*/
:root {
  --menu-background: #98C1D9;                             /* Menu background color */
  --menu-secondary: #293241;                              /* Color of hovered tabs and active links */
  --menu-text-color: #ffffff;                             /* Menu font color */
  --menu-position: relative;                                /* Position of menu on the page */
  --menu-border-radius: 0px;                                /* Change this value to add rounded corners to menu */
  --dropdown-background: #ffffff;                         /* Color of first level dropdown background */
  --dropdown-text-color: #000000;                         /* Dropdown item text color on desktop */
  --font-family: "Trebuchet MS", Helvetica, sans-serif;     /* https://www.w3schools.com/cssref/css_websafe_fonts.asp */
  --font-weight: "normal";                                  /* Change font weight to bold */
  --mobile-menu-icon-hover: #1d242f;                      /* Color of icon hover when browser is shrunk to phone size */
}
/*#######################################
        End Configuration
#######################################*/

/* Main wrapper class for menu bar */
nav.navbar-custom { 
 background: var(--menu-background); 
 border-color: var(--menu-background); 
 box-shadow: 0 0 12px 0 #ccc;
 position: var(--menu-position);
 border-radius: var(--border-radius);
 font-family: var(--font-family);
 font-weight: var(--font-weight);
}

/* Color of links  */
nav.navbar-custom a { 
    color: var(--menu-text-color); 
}

nav.navbar-custom ul.navbar-nav a {
    color: var(--menu-text-color);           /* Text color of menu tabs  */   
    border-style: solid; 
    border-width: 0 0 2px 0; 
    border-color: var(--menu-background);    /* Border color of menu tabs */
}

/* Color of activated links, hover links, and dropdown divider */
nav.navbar-custom ul.navbar-nav a:hover,
nav.navbar-custom ul.navbar-nav a:visited,
nav.navbar-custom ul.navbar-nav a:focus,
nav.navbar-custom ul.navbar-nav a:active,
nav.navbar-custom li.divider { 
    background: var(--menu-secondary); 
}

/* Border color for hovered links */
nav.navbar-custom ul.navbar-nav a:hover { 
    border-color: var(--menu-secondary); 
}

/* Color of mobile menu toggle icon */
nav.navbar-custom button.navbar-toggle { 
    background: var(--menu-secondary); 
    border-radius: 2px; 
}
nav.navbar-custom button.navbar-toggle:hover { 
    background: var(--mobile-menu-icon-hover);
}
nav.navbar-custom button.navbar-toggle > span.icon-bar { 
    background: var(--menu-text-color); 
}

/* [Dropdown menus] */
nav.navbar-custom ul.dropdown-menu { 
    border: 0; 
    background: var(--dropdown-background);   /* Dropdown menu background color */
    border-radius: 4px; 
    margin: 4px 0; 
    border: 2px solid var(--menu-secondary);  /* Dropdown menu border color */
    box-shadow: 0 0 4px 0 #ccc; 
}
nav.navbar-custom ul.dropdown-menu > li > a { 
    color: var(--dropdown-text-color);
    border-color: var(--dropdown-background); 
}

/* Dropdown menu hovered item color*/
nav.navbar-custom ul.dropdown-menu > li > a:hover { 
    background: var(--menu-secondary); 
    color: var(--dropdown-background);
}
/* [/ Dropdown menus] */

/* Notification badge color */
nav.navbar-custom span.badge { 
    background: var(--menu-secondary); 
    font-weight: normal; 
    font-size: 11px;
    margin: 0 4px; 
}
nav.navbar-custom span.badge.new { 
    background: rgba(255, 0, 0, 0.8); 
    color: #ffffff; 
}

/* Media queries for smaller devices */
@media only screen and (max-width: 500px) {
    nav.navbar-custom ul.dropdown-menu > li > a { 
        color: var(--menu-text-color);
        border-color: var(--menu-background); 
    }
}