/*
#######################################
        Menu bar configuration
#########################################
*/
@menu-primary: #98C1D9;                                /* Menu background color */
@menu-secondary: #293241;                              /* Color of hovered tabs and active links */
@menu-text: #ffffff;                                   /* Menu font color */
@menu-position: relative;                                /* Position of menu on the page */
@menu-height: auto;                                      /* Height of navigation menu */
@menu-width: 100%;                                       /* Width of navigation menu */
@menu-margin: 0 0 0 0;                                   /* Menu margin, [top, right, bottom, left] */
@menu-padding: 0 0 0 0;                                  /* Menu padding, [top, right, bottom, left] */
@menu-border-radius: 0px;                                /* Change this value to add rounded corners to menu */
@dropdown-background: #ffffff;                         /* Color of first level dropdown background */
@dropdown-text: #000000;                               /* Dropdown item text color on desktop */
@font-family: "Trebuchet MS", Helvetica, sans-serif;     /* https://www.w3schools.com/cssref/css_websafe_fonts.asp */
@font-weight: "normal";                                  /* Change font weight to bold */
@font-size: 15px;                                        /* Menu item font size */
@mobile-menu-icon-hover: #1D242F;                      /* Color of icon hover when browser is shrunk to phone size */